AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=test
AWS_ENDPOINT_URL=http://localhost:4566

# Local process ports
API_PORT=3000
WORKER_PORT=8000
FRONTEND_PORT=3001
FRONTEND_URL=http://localhost:3001

# LocalStack
LOCALSTACK_DEBUG=0
